html
  font-synthesis none
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust 100%

body
  font-family $font-pt-sans-narrow-regular
  font-size $font-size
  line-height $line-height
  font-weight $font-weight
  margin 0

#app
  height 100vh
  background $color-main-bg

.header
  display flex
  align-items center
  height 60px
  background $color-panel-bg
  box-shadow 0 0 10px #eee
  padding 0 32px

.container
  height calc(100vh - 60px)

.content
  height calc(100vh - 100px)
  overflow-y auto
  padding 10px 20px 30px 310px
  transition 0.2s

  &__full
    padding-left 35px

.heading
  &-1
    font-size 28px
    font-weight 300
    margin 20px 0

  &-2
    font-size 22px
    font-weight 300
    margin 20px 0

  &-3
    font-size 17px
    font-weight 300
    margin 20px 0

a
  color $color-primary
  text-decoration none

  &:hover
    color $color-primary-hover
