@font-face
  font-family 'PTSansNarrow-Regular'
  src local('PTSansNarrow-Regular'), url(@/assets/fonts/PTSansNarrow-Regular.ttf)

@font-face
  font-family 'PTSansNarrow-Bold'
  src local('PTSansNarrow-Bold'), url(@/assets/fonts/PTSansNarrow-Bold.ttf)

@font-face
  font-family 'ArialRegular'
  src local('ArialRegular'), url(@/assets/fonts/ArialRegular.ttf)

@font-face
  font-family 'ArialBold'
  src local('ArialBold'), url(@/assets/fonts/ArialBold.ttf)

@font-face
  font-family 'ArialItalic'
  src local('ArialItalic'), url(@/assets/fonts/ArialItalic.ttf)

@font-face
  font-family 'ArialBoldItalic'
  src local('ArialBoldItalic'), url(@/assets/fonts/ArialBoldItalic.ttf)

@font-face
  font-family 'ArialBlack'
  src local('ArialBlack'), url(@/assets/fonts/ArialBlack.ttf)

$font-size = 20px
$line-height = 1.3
$font-weight = 400
$font-pt-sans-narrow-regular = PTSansNarrow-Regular, sans-serif
$font-pt-sans-narrow-bold = PTSansNarrow-Bold, sans-serif
$font-arial-regular = ArialRegular, sans-serif
$font-arial-bold = ArialBold, sans-serif
$font-arial-italic = ArialItalic, sans-serif
$font-arial-bold-italic = ArialBoldItalic, sans-serif
$font-arial-black = ArialBlack, sans-serif

$color-panel-bg = #fff
$color-main-bg = #f8f8f8

$color-primary = #016cab
$color-primary-hover = #0084d2
$color-second = #5bb6ff
$color-second-hover = #74c2ff
